<!doctype html>
<html>
<head>
    <title>ABC greeting card retailer</title>
    <!-- Icon -->
    <link rel="icon" href="images/icon.gif" type="image/gif" sizes="16x16">
    <!-- Stylesheet -->
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <!-- JavaScript -->
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
</head>
<body>
<header>
    <img src="/images/bird.jpg" alt="bird">
    <p>ABC greeting card retailer</p>
    <div class="flex-menu">
        <div><a href="/home">Home</a></div>
        <div><a href="/products">Products</a></div>
        <div><a href="/search">Search</a></div>
        <div><a href="/loginRegisterView">Login/Register</a></div>
        <div><a href="/shoppingBag">Shopping Bag</a></div>
    </div>
    <div><b>{{title}}</b></div>
</header>

	{{{body}}}

<hr>
<footer>
        <div><a href="url">Contact Us</a></div>
        <div><a href="url">About Us</a></div>
        <div><a href="url">FAQ</a></div>
</footer>
</body>
</html>


