<div class="flex-container" style="padding: 60px 0px;">
    <div>
        <img src="/images/customers.png" alt="customers"><br/>
        <b><a href="/admin/{{data.id}}/clients">Clients</a></b>
    </div>
    <div>
        <img src="/images/products.png" alt="products"><br/><br/>
        <b><a href="/admin/{{data.id}}/products">Products</a></b>
    </div>
    <div>
        <img src="/images/orders.png" alt="orders"><br/><br/><br/>
        <b><a href="/admin/{{data.id}}/orders">Orders</a></b>
    </div>
    <div>
        <img src="/images/search.png" alt="search"><br/><br/><br/>
        <b><a href="/admin/{{data.id}}/search">Search</a></b>
    </div>
</div>