<div>  <a class="btn btn-success" href="/logout/{{customer_ID}}">Logout</a></div>
<div style="font-size: 18px; text-align: center";>
    <p> We don't have delivery option for now, after placing your order, we will send you a notification that your order is ready for pick up.</p><br/>
    <p> You will be able to pay store directly (cash, credit, gift card).</p><br/>
</div>
<div class="flex-container" style="padding: 60px 0px;">
    <div>
        <img src="/images/customers.png" alt="customers"><br/>
        <b><a href="/customer/{{customer_ID}}/info">Edit Account</a></b>
    </div>
    <div>
        <img src="/images/orders.png" alt="orders"><br/><br/><br/>
        <b><a href="/customer/{{customer_ID}}/orders">Checkout</a></b>
    </div>
    <div>
        <img src="/images/search.png" alt="status"><br/><br/><br/>
        <b><a href="/customer/{{customer_ID}}/status">Order status</a></b>
    </div>
</div>