/* Body */
body{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
/* Header */

header img{float: left;}

header p{
    padding: 80px 0px 0px 0px;
    color: #337ab7;
    font-size: 35px;
    font-style: italic;
    float: left;
}

header div{
    padding: 5px 0px;
    font-size: 28px;
    font-style: italic;
    text-align: center;

}

/* Menu */

.flex-menu{display: -moz-flex;/* Mozilla */
    display: -ms-flex; /* IE */
    display: -webkit-flex; /* Webkit */
    display: flex;
    -moz-flex-direction: row;/* Mozilla */
    -webkit-flex-direction: row; /* Webkit */
    -ms-flex-direction:row; /* IE */
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color:#C01176;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flex-menu div {
    padding: 0px 2px;
    -moz-align-content: center;/* Mozilla */
    -webkit-align-content: center; /* Webkit */
    -ms-align-content: center;  /* IE */
    align-content: center;
    -moz-flex: 1; /* Mozilla */
    -webkit-flex: 1; /* Webkit */
    -ms-flex: 1; /* IE */
    flex:1;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;

}
.flex-menu div a{color: white;}
.flex-menu div a:hover{
    text-decoration: none;
    border-bottom: 2px solid #eeca6c;
    color:#eeca6c;
}

/* Vertical Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    background-color: #f1f1f1;
    font-size: 16px;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

/* Main Content */

.flex-container {
    display: -moz-flex;/* Mozilla */
    display: -ms-flex; /* IE */
    display: -webkit-flex; /* Webkit */
    display: flex;
    -moz-flex-direction: row;/* Mozilla */
    -webkit-flex-direction: row; /* Webkit */
    -ms-flex-direction:row; /* IE */
    flex-direction: row;
    width: 90%;
    height: auto;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center
}

.flex-container div {
    padding: 0px 2px;
    -moz-align-content: center;/* Mozilla */
    -webkit-align-content: center; /* Webkit */
    -ms-align-content: center;  /* IE */
    align-content: center;
    -moz-flex: 1; /* Mozilla */
    -webkit-flex: 1; /* Webkit */
    -ms-flex: 1; /* IE */
    flex:1;
    text-align: center;
    font-size: 16px;
    text-decoration: none;

}

.flex-container div p{
    text-transform: uppercase;
    color:#C01176;
    font-weight: bold;
    padding-top: 5px;
}

.viewProduct{
    border: gray solid;
}

.viewProduct td{ padding: 20px;}

/* Footer */

hr{ border: 2px solid gray;  }

footer{
    display: inline-flex;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding-right: 60px;
    padding-bottom: 20px;
}

footer div{
    margin-left: 30px;
    border-top: 1px dotted #fff;
    padding: 5px;
    text-transform: uppercase;
    color: #928e92;
    text-decoration: none;
    font-weight: bold;
}
footer div a:hover,footer div a:visited, footer div a:active{text-decoration: none; color:#eeca6c;}

/* Login */
.flex-login {
    display: -moz-flex;/* Mozilla */
    display: -ms-flex; /* IE */
    display: -webkit-flex; /* Webkit */
    display: flex;
    -moz-flex-direction: row;/* Mozilla */
    -webkit-flex-direction: row; /* Webkit */
    -ms-flex-direction:row; /* IE */
    flex-direction: row;
    width: 90%;
    height: auto;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center
}

.flex-login div {
    padding: 0px 2px;
    -moz-align-content: center;/* Mozilla */
    -webkit-align-content: center; /* Webkit */
    -ms-align-content: center;  /* IE */
    align-content: center;
    -moz-flex: 1; /* Mozilla */
    -webkit-flex: 1; /* Webkit */
    -ms-flex: 1; /* IE */
    flex:1;
    text-align: left;
    font-size: 16px;
    text-decoration: none;

}

.flex-login input{
    padding: 5px;
    margin: 5px 10px;
}

.flex-login form{ border: 3px solid #f1f1f1;}

.err{color: red;  font-size: 20px; font-weight: bold; text-align: center;}